@font-face {
    font-family: "bellaboo";
    src: url(fonts/BELLABOO-Regular.ttf) format("truetype");
}

body {
    font-family: bellaboo;
/*    background: repeating-linear-gradient(
        45deg,
        #30A2EF,
        #30A2EF 100px,
        #2484BA 100px,
        #2484BA 150px
    );*/
}

h1  {
    color: #fff;
    font-size: 9em;
    margin: 1em 1em .5em 1em;
}

h2 {
    color: #fff;
    font-size: 2.5em;
    margin: 0px;
    padding-bottom: .3em;
}

.centered {
    text-align: center;
    padding: 2em 2em 0em 2em;
}

a {
    padding: 1em;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}

#countdown {
    display: inline-flex;
}

.count-item {
    font-size: 1.5em;
    padding: 1em;
    color: #fff;
}

@media (max-width: 940px) {
    h1 {
        font-size: 6em;
    }
    h2 {
        font-size: 1.9em;
    }
    .count-item {
        font-size: .9em;
    }
    a {
        font-size: 1.1em;
    }
}

@media(max-width: 650px) {
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 1.8em;
    }
    .count-item {
        font-size: .85em;
    }
    a {
        font-size: 1em;
    }
}

@media(max-width: 550px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 1.7em;
    }
    .count-item {
        font-size: .8em;
    }
    a {
        font-size: .9em;
    }
}

@media(max-width: 460px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.6em;
    }
    .count-item {
        font-size: .75em;
    }
    a {
        font-size: .8em;
    }
}